.page {
    margin: auto;
    width: 50%;
}

button {
    margin-left: 10px;
}

.counters {
    text-align: center;
}

.counters h1 {
    display: inline;
}

#usList {
    float: left;
    max-width: 50%;
    padding: 20px;
    text-align: center;
}

#caList {
    float: right;
    max-width: 50%;
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

li {
    padding-top: 10px;
    font-size: large;
}

.seen {
    text-decoration-line: line-through;
}

.unseen {
    text-decoration: none;
}